@model SiccoApp.Persistence.Documentation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.Documentation</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Resources.DocumentsDetail <small><!--detalle subtitulo--></small></h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left"><!--FORM-->
                            <div class="form-group">
                                @Html.LabelFor(model => model.DocumentationCode, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.DocumentationCode, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EntityTypeID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.EntityType.Description, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Documentations", new {id = Model.DocumentationID })'">@Resources.Edit</button>
                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Documentations")';return false;">@Resources.BackToList</button>
                                </div>
                            </div>

                        </div> <!--FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
