@model SiccoApp.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Resetear Contraseña";
}

<div class="animate form login_form">

    <section class="login_content">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Reestablezca su Contraseña</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Repetir Contraseña" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Aceptar" />
                </div>
            </div>
            <div class="separator">
                <div>
                    @*<h1><i class="fa fa-paw"></i> Sicco</h1>*@
                    <img class=".img-responsive" src="~/Content/images/logocolor.png" height="30px">
                    <p>@Resources.CopyRightFooter</p>
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
