@model SiccoApp.Models.EditContractorEmployeesViewModel

@{
    ViewBag.Title = "Credencial Empleado";
}

<div id='DivIdToPrint'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Credencial Empleado</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row"> @*style="border: 1px solid grey;">*@
                <div class="col-3 col-md-3">
                    <div class="row">
                        <div class="center col-md-12 col-sm-12 text-center">
                            <img src="~/Content/images/img.jpg" class="img-circle img-fluid" style="height:100px;width:100px;margin:0 auto;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="center col-md-12 col-sm-12 text-center">
                            <p><strong>Documento</strong></p>
                            <p>@Html.DisplayFor(model => model.IdentificationNumber)</p>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-9">
                    <div class="row">
                        <div class="left col-md-6 col-sm-6">
                            <p><strong>Apellido</strong></p>
                            <p>@Html.DisplayFor(model => model.LastName)</p>
                        </div>
                        <div class="left col-md-6 col-sm-6">
                            <p><strong>Nombres</strong></p>
                            <p>@Html.DisplayFor(model => model.FirstName)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left col-md-6 col-sm-6">
                            <p><strong>Contratista</strong></p>
                            <p>@Html.DisplayFor(model => model.CompanyName)</p>
                        </div>
                        <div class="left col-md-6 col-sm-6">
                            <p><strong>Tipo Relacion</strong></p>
                            <p>@Html.DisplayFor(model => model.EmployeeRelationshipType.Description)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="right col-md-12 col-sm-12 text-right">
                            @if (Model != null && !String.IsNullOrEmpty(Model.QRCode))
                            {
                                <img src="@Url.Content(Model.QRCode)" alt="" style="height:40px;width:250px;margin:0 auto;" /> @*class="img-responsive" style="height:80px;width:250px;margin:0 auto;" />*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type='button' id='btn' value='Print' onclick='printDiv();'>
    </div>
</div>

<script>
    function printDiv()
    {
        var divToPrint = document.getElementById('DivIdToPrint');
        
        //divToPrint.style.visibility = 'hidden';

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '<link href="/Content/css/bootstrap.min.css" rel="stylesheet"><link href="/Content/fonts/css/font-awesome.min.css" rel="stylesheet"><link href="/Content/css/custom.css" rel="stylesheet"></body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);
    }
</script>

