@model SiccoApp.Persistence.BusinessType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";

    //if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("CustomerAuditorRole"))
    //{
    //    Layout = "~/Views/Shared/_LayoutCustomerAuditorRole.cshtml";
    //}
    //else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("CustomerAdminRole"))
    //{
    //    Layout = "~/Views/Shared/_LayoutCustomerAdminRole.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //}
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.EtyBusinessType</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Resources.BusinessTypesDetail <small><!--detalle subtitulo--></small></h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left">
                            <!--FORM-->
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessTypeCode, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.BusinessTypeCode, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "BusinessTypes", new {id = Model.BusinessTypeID })'">@Resources.Edit</button>
                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "BusinessTypes")';return false;">@Resources.BackToList</button>
                                </div>
                            </div>

                        </div> <!--FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
