@model SiccoApp.Persistence.Contractor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.EtyContractor</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Resources.ContractorsDetail <small><!--detalle subtitulo--></small></h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left">
                            <!--FORM-->
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.BusinessType.BusinessTypeCode, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TaxIdNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.TaxIdNumber, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.Country.CountryName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.State.StateName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmergencyPhoneNumber, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.EmergencyPhoneNumber, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Contractors", new {id = Model.ContractorID })'">@Resources.Edit</button>
                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Contractors")';return false;">@Resources.BackToList</button>
                                </div>
                            </div>

                        </div> <!--FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
